.heading
{
    opacity: 0.8;
    line-height: 0px;
    font-size: 12px;
    font-weight: 300;
}
.headingValue
{
    font-size: 26px;
    font-weight: 600;
}
.profileHeadingDiv
{
    margin: 3% 0% 1% 0%;
}
.headingDiv
{
    height:80vh !important; 
    width: 95%;
    overflow: hidden;
    margin: 0% auto;
    padding: 0% !important; 
}
.detailsIcon
{
    position: absolute;
    opacity:0.2;
    width: 60%;
    right: 5%;
    height: 100%;
}
.titleHead
{
    font-size: 25px;
    line-height: 24px;
    font-weight: 600;
}

.profilePasswordUpdateBox
{
    margin: 1% 5%;
    background-color: white;
    padding: 1% 0%;
    height: 70vh;
    max-height: 83vh;
    border-radius: 28px;
    overflow: hidden;
    box-shadow: 5px 10px 6px #00000029;
}
.profileLabel
{
    font-size: 16px;
    font-weight: 500;
}
.padding30{
    padding-top: 2em;
}
button{
    width: 100px;
    height: 40px !important;    
    font-size: 18px;
    background-color: dodgerblue;
    border-color: transparent;
    line-height: 20px;
    float: right;
}
.btnSub
{
    margin-top: 40px;
    bottom: 10px;
    position: sticky;
}
.paddingSide
{
    padding: 0% 4%;
}

@media(min-width: 967px){
    .profile-box{
        padding: 0 30px;
    }
}


.responsiveTitle
{
    margin:  0  auto;
    a{
        text-decoration: none;
    }
}
@media screen and (max-width: 700px)  {

    .noDisplayResponsive {
        display: none;
    }
    .tableDivR {
        height: 60vh !important;
    }
    .headingDiv{
        height: 92% !important;
    }
    .paddingT20Responsive{
        padding: 5% 0;
        margin: auto;
    }
  
    .profilePasswordUpdateBox{
        height: auto !important;
        min-height: 62vh !important;
    }
    .updateIconR{
    flex-direction: column;
    }
    .marginR{
    margin-top: 10px;
    }
    .ipadDisplay{
    position: absolute;
    bottom: 0;
    }
}
@media screen and (max-width: 1200px)  {
.profilePasswordUpdateBox{
    margin: 1%;
    padding: 2%;
    height: 83vh;
    overflow-y: hidden;
}
.ipadDisplay{
    display: block;
    white-space: nowrap;
    margin-top: 8px;
}
.updateIconR{
    display: flex;
    align-items: center;
    margin-left: 5px;

}

}